<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Note App</title>
</head>
<body>
    <header>
        <h1>Notes App</h1>
    </header>
    <hr>
    <div>
        <H3> Add New Items: </H3>
        <form action ="#">
            <label for= "title"> Title: </label><br>
            <input type="text" id="title"><br>
            <label for = "content"> Content</label><br>
            <input type="text" id="content"><br>
            <input type="button" value="Submit">

        </form>
    </div>

    <div>
        
    </div>
    
</body>
</html>
